<form style="display: flex;flex-direction: column;gap: 20px;">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Digite algo">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Digite algo">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="text" matInput placeholder="Digite algo">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input type="text" matInput placeholder="Digite algo">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Logradouro</mat-label>
        <input type="text" matInput placeholder="Digite algo">
    </mat-form-field>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button matDialogClose>Cancelar</button>
</form>