$background-color: black;

.wrapper {
  border: 1px solid blue;

  .item {
    border: 1px solid red;
    width: 100px;
    height: 100px;

    &:nth-child(even) {
      background-color: $background-color;
    }
  }
}
