.item {
  width: 100px;
  height: 100px;
  background-color: red;
  flex-shrink: 0;
}

.wrapper {
}

.blue {
  background-color: blue;
}

.red {
  background: red;
}

.black {
  background-color: black;
}
