<div class="page-container">
  <p>[ ] deixar responsivo usando flex, com ajuste automático de elementos por linha</p>
  <p>deixar responsivo usando grid com: </p>
  <p>[ ] 4 colunas telas com width > 1000px</p>
  <p>[ ] 1 colunas telas com width <= 1000px</p>

      <div class="wrapper" style="border: 1px solid blue;gap:20px;flex-direction: row;">
        <div class="item blue"></div>
        <div class="item red"></div>
        <div class="item black"></div>
        <div class="item blue"></div>
        <div class="item red"></div>
        <div class="item black"></div>
        <div class="item blue"></div>
        <div class="item red"></div>
        <div class="item black"></div>
        <div class="item blue"></div>
        <div class="item red"></div>
        <div class="item black"></div>
      </div>
</div>