/* You can add global styles to this file, and also import other style files */
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(241, 241, 241);
    color: rgb(33, 33, 33);
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding: 20px;
}

app-root {
    height: 100%;
}
router-outlet {
    height: 0 !important;
}

.router-outlet-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;

    & > * {
        display: flex;
        height: 100%;
    }
}
