<div class="page-container">
  <div style="max-width: 600px;">
    Imagine que você está trabalhando em um aplicativo de gerenciamento de biblioteca que precisa modelar livros e
    periódicos. Sua tarefa é criar uma classe base em TypeScript chamada Publicacao e duas classes derivadas, Livro e
    Periodico.
    <br><br>
    Requisitos para a classe Publicacao:
    <br><br>
    A classe deve definir três propriedades: titulo (string), autor (string), e anoPublicacao (number).
    Todas as propriedades devem ser acessíveis somente para leitura fora da classe, mas podem ser definidas no momento
    da criação da instância (por meio do construtor).
    Inclua um método descricao que retorna uma string descrevendo a publicação, incluindo todas as suas propriedades.
    Requisitos para a classe Livro:
    <br><br>
    A classe Livro deve herdar de Publicacao.
    Adicione uma propriedade específica da classe Livro chamada ISBN (string).
    Sobrescreva o método descricao para incluir o ISBN na descrição.
    Requisitos para a classe Periodico:
    <br><br>
    A classe Periodico deve herdar de Publicacao.
    Adicione uma propriedade específica da classe Periodico chamada ISSN (string).
    Sobrescreva o método descricao para incluir o ISSN na descrição.
    Critérios de Avaliação:
    <br><br>
  </div>
</div>